{% macro pagination_widget(pagination, endpoint, fragment='') %}
    <div>
        <ul class="pagination">
            <li  {% if  pagination.has_prev %} class="page-item" {% else %} class="page-item disabled"{% endif %}>
                <a class="page-link" href="#">&laquo;</a>
            </li>
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p != pagination.page %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active">
                            <a class="page-link"
                               href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><a class="page-link" href="#">&hellip;</a></li>
                {% endif %}
            {% endfor %}
            <li {% if pagination.has_next %}class="page-item"{% else %}class="page-item disabled"{% endif %}>
                <a class="page-link" href="



                        {% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                    &raquo;
                </a>
            </li>
        </ul>
    </div>

{% endmacro %}