{% set current_page = "总览" %}

{% extends 'base.html' %}

{% block body %}
<div class="row clearfix">
    <div class="container">
        <h3>{{username}} 您好</h3>
        <h4>以下是所有用户的的操作权限:</h4>
        <div class="col-md-12 column">
            <form method="POST" action="{{url_for('auth_set')}}" class="form-horizontal">
                <fieldset>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <div class="row clearfix">
                            <div class="col-md-3 column">
                                <label>管理员账户</label>
                                <input type="text" class="form-control required"
                                       name="admin_id" placeholder="账户名">
                            </div>
                            <div class="col-md-3 column">
                                <label>股票代码</label>
                                <input type="text" class="form-control required"
                                       name="stock_name"
                                       placeholder="股票代码" maxlength="40">
                            </div>
                            <div class="col-md-3 column">
                                <label>添加或删除权限</label>
                                <div class="custom-select-md">
                                    <select name="action" class="form-control form-control-md">
                                        <option value="add" selected>添加</option>
                                        <option value="delete">删除</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-offset-10 column">
                                <label>&nbsp;</label>
                                <br>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-smile-o"></i> 所有用户操作权限列表
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>授权代码</th>
                            <th>授权用户</th>
                            <th>股票代码</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>授权代码</th>
                            <th>授权用户</th>
                            <th>股票代码</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for row in auth_list %}
                        <tr class={{ loop.cycle(
                        "", "table-active")}}>
                        <td>{{ row.auth_id }}</td>
                        <td>{{ row.admin_id }}</td>
                        <td>{{ row.stock_id }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>
{% endblock%}